<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr no </th>
                        <th>Full name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Is Active</th>
                        <th>Edit</th>
                        <th>Remove</th>
                </thead>
                <tbody>
                    <tr *ngFor="let std of studentData ; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{std.fname}} {{std.lname}}</td>
                        <td>{{std.email}}</td>
                        <td>{{std.contact}}</td>
                        <td>{{std.isActive ? 'Yes' : 'No'}}</td>
                        <td>
                            
                            <button class="btn btn-sm btn-primary">edit</button>
                        </td>
                        <td>
                             <button
                             (click)="onremovestd(std.stdId)"
                             class="btn btn-sm btn-danger">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>